/*all

    Green #00B806

    Peach #F38B71

    Light Peach #FFF0EC

    Light Green #F1F9F1
*/
@media(max-width:600px){
    body h1{
font-size: 2.0rem;
    }
   body h2 {
        font-size: 1.6rem;
}
body h3{
    font-size: 1.4rem;
}
body h4 {
    font-size: 1.2rem;
}
}
@font-face{
    font-family:light-m;
    src: url(../montserrat/Montserrat-Light.otf);
}
@font-face{
    font-family:SemiBold;
    src: url(../montserrat/Montserrat-SemiBold.otf);
}
@font-face{
    font-family:Bold-m;
    src: url(../montserrat/Montserrat-Bold.otf);
}
@font-face{
    font-family:Regular;
    src: url(../montserrat/Montserrat-Regular.otf);
}
@font-face{
    font-family:italic-m;
    src: url(../montserrat/Montserrat-Italic.otf);
}
@font-face{
    font-family:italic-med;
    src: url(../montserrat/Montserrat-MediumItalic.otf);
}
@font-face{
    font-family: italic-light;
    src: url(../montserrat/Montserrat-LightItalic.otf);
}
@font-face{
    font-family: italic-bold;
    src: url(../montserrat/Montserrat-BoldItalic.otf);
}
body  .bold-m{
    font-family:bold-m!important;    
}
body  .light-m{
    font-family:light-m!important;    
}
body  .Regular{
    font-family:Regular!important;   
}
body .SemiBold{
    font-family:SemiBold!important;   
}
body  .italic-med{
    font-family:italic-med!important;    
}
body  .italic-light-m{
    font-family: italic-light!important; 
}
body .italic-SemiBold{
    font-family: italic-bold!important;  
}
.lightgray{
   
   color:#BFBFBF;

}
html {
	scroll-behavior: smooth;
}
.black{
   
    color:#000!important;
 
 }
:focus {
    outline: none!important;
}
body .border-nr{
   
    border-right: none!important;
}
body .border-nl{
   
    border-left: none!important;
}
body .border-nt{
   
    border-top: none!important;
}
body .border-nb{
   
    border-bottom: none!important;
}
.bor-peach{
    border:4px solid #F38B71;
}
.Peach{ color:#F38B71;
}
.green{ color:#00B806;
}
.h1, .h2, .h3,h1, h2, h3 {
    font-family:Regular;
   

}
@media(min-width:990px)
{
    .gr-box{
        padding-top: 4rem!important;
        padding-bottom: 4rem!important;
    }
}

.gr-box{
    padding:2rem 1.5rem;
background-color:#F1F9F1;
}
.bold{
    font-weight: 700!important;
}
a,button{
    font-family:SemiBold!important;   
}
body{font-family:light-m;
    color:#000;
}
.w-70{ width: 70%!important;
    margin-right: auto!important;
    margin-left: auto!important;
}
 .w-90{ width: 90%!important;
    margin-right: auto!important;
    margin-left: auto!important;
}
@media (min-width:600px)
{
body .w-80{ width: 80%!important;
    margin-right: auto!important;
    margin-left: auto!important;
}
body .w-85{ width:85%!important;
    margin-right: auto!important;
    margin-left: auto!important;
}
}
.w-80,.w-85{ width: 95%!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

.bef{
    position: relative;
}
.bef::before{
    content: "";
    height: 30px;
    position: absolute;
    left: -20px;
    top: 12px;
    width: 10px;
    background-color:#F38B71;
  }


 .alert{
   display: none;
 
}

/*header*/
.sec-header {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 999999;
}
.btn.sch-btn{
    color: #00B806;
    background-color: white;
    border: 2px solid #00B806;
    padding: .375rem 1rem;
    border-radius: 0;
font-size: 15px;
}
.head-mob.sec-header .navbar-light .navbar-nav .nav-link {
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #00000085;
    padding-bottom: 1.4rem;

}
.btn.sch-btn-m{
    color: #00B806;
    background-color: white;
    border: 2px solid #00B806;

    border-radius: 0;
font-size: 10px;
}
.btn.sch-btn:hover{
    color: white;
    background-color: #00B806;
    
}
.sec-header .navbar-light .navbar-nav .nav-link {
   font-size: 15px;
   color:black;
}
.sec-header .navbar-light .navbar-nav .active>.nav-link{
     color: #00B806;    
}


@media (min-width: 992px)
{.sec-header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

}
.h1, .h2, .h3,h1, h2, h3 {
  
    line-height: 1.4;

}
/*footer*/

.footer .form-control {
     
    padding: .3rem .75rem;
  
    color: #000;
    
    border: 1px solid black;
    border-radius: 0;
}
.footer label {

margin-bottom: .2rem;}
.social-footer img{
width: 25px;
height: 30px;
}


/*social share*/
#share-buttons{
    position: fixed;
    z-index: 999999;
    top: 30%;
    left: 2%;

}
@media(max-width:900px){
    #share-buttons{
        display: none;
    }
}

#share-buttons a img{ 
    width:12px;
    height: 12px;
}
div#share-buttons div {
    display: block;
    margin-bottom: 4rem;
}

/* home page  sec1*/
.str-btn{
    color: #F38B71;
    background-color: white;
    border: 2px solid #F38B71;
    padding: .7rem 1rem;
    border-radius: 0;
    font-weight: 500;  
}
.str-btn-m{
    color: white;
    background-color: #F38B71;  
    border: 2px solid #F38B71;
  
    border-radius: 0;
}
.str-btn:hover{
    color: white;
    background-color: #F38B71;
}@media (min-width: 992px)
{
.sec1{
       background-repeat:no-repeat;  background-image:url("../images/bg1.png");
    background-size: cover;
    background-position:center ;
    
    background-position-y: -160px;
}
}

/*sec2*/
.sec2{
    background-color: #FFF0EC;
}


@media (min-width:1200px)
{
.sec2 .col-12 {
    margin-top: -7rem;
}
}@media (max-width:600px)
{
body .sec4 .nav a {

    font-size: 1.2rem;
}
body .sec4 .nav li.nav-item{
    padding:0px 1rem;
}
}
.lrn-btn{
    color: black;
    background-color: transparent;
    border: 2px solid black;
    padding: .7rem 1rem;
    border-radius: 0;
    font-weight: 500;    
}
.lrn-btn:hover{
    color: white;
    background-color: black;
    
}
/*sec4*/
.sec4{
    background-color:#F1F9F1;
}


.sec4 .nav {display: block;
    background-color:white;
}
.sec4 .nav a {
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    font-family:SemiBold!important;  
   
}
.fly-green{
    position: absolute;
    top: 0;
    left: -2%;

    z-index: 100;
    height: 110px;
    width: 104%;
    margin: 0px auto;
    background-color: #00B806;
    border-radius: 0px;
    box-shadow: 0px 3px 3px 3px lightgrey;
    transition: all 0.5s cubic-bezier(0.57, -0.32, 0.42, 1.19);
}

.sec4 .nav{
   
    position: relative;
}


.sec4 .nav-pills .nav-link.active, .sec4 .nav-pills .show>.nav-link {
    background:none;
    position: relative;
z-index: 101;


}
.sec4 li.nav-item{
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 110px;
    display: flex;
    padding: 0rem 2rem;
    border-bottom: 1px solid lightgray;
}
.sec4 .cont-tabs{  font-family:italic-light!important; 
}
@media(min-width:1200px)
{.sec4 .cont-tabs{  font-family:italic-light!important; 
    margin-left: -80%;
    width: auto;
    margin-top: 2rem;
    font-size: 18px;
    display: block;
}
.sec4  img{
    height: 550px;
}
}
/*sec5*/
.sec5{
    background-color:#F1F9F1;
}

    /*about page  secb1*/

.lrn-about{


    color: #00B806;
    background-color: transparent;
    border: 2px solid #00B806;
    padding: .7rem 1.2rem;
    border-radius: 0;
font-size: 16px;
}
.lrn-about:hover{
    color: white;
    background-color: #00B806;
    
}
    /*blog page  secblog1*/
    
    .pop-post{
        position:relative;
    }
    .pop-post::after{
        content: "";
        height: 1px;
        margin-top: 12px;
        margin-left: 10px;
        background-color: black;
        width: 20px;
        position: absolute;

    }
    .pop-post::before{
        content: "";
        height: 1px;
        margin-top: 12px;
        margin-left: -30px;
        background-color: black;
        width: 20px;
        position: absolute;

    }
   body .article {
margin-bottom:10rem!important;
    }

    .svgheart:hover {
        fill: red;
    }
.redheart {
    fill: red;
}
.btn-like {
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.share-btn{
    background-color: transparent;
    cursor: pointer;
    border: none;  
}
.share-buttons img {
    width:15px;
    height: 15px;
    }
    .flexshare{
        display: flex!important;
    }

    .share-buttons {
        display: none;
    
        position: absolute;
top:-3.5rem;
    padding: 1rem;
    left: 5%;
    }
    .share-btn:hover.share-buttons{
        display: flex!important;}

        /*contact*/
 .sec2-c{
    background-color:#FFF0EC;
 }
 .head-get{width: fit-content;
    margin: -2rem auto 4rem;
    background-color:#FFF0EC;
  
    padding: 0px 2rem;
}
.foot-get{width: fit-content;
    margin: 2rem auto -2rem;
    background-color:#FFF0EC;
  
    padding: 0px 2rem;
}
@media(max-width:700px){
   .sec2-c .head-get{
        margin: -1rem auto 2rem;
     
        padding: 0px .5rem;
    } 
    .sec2-c .foot-get{
        margin: 2rem auto -3rem;
        padding: 0px .5rem;
    } 
   
}



.sec2-c .form-control {
    border:none;
    border-radius:0px;
}

.sec2-c  label {
   
    margin-bottom: 0;
}
.sec2-c .sent-btn {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0px;
}
.sec2-c .sent-btn:hover {
    background-color: black;
    border: 2px solid black;
    color:#FFF0EC;
 
}
/*services*/
@media(min-width:1200px)
{body .sec-links .nav-item {
  
    background-color: white;}
.bg-ser1{
   background-repeat:no-repeat;  background-image:url("../images/hs.png");
background-size:cover;
background-position:right!important;
background-repeat:no-repeat;
}
.bg-ser2{
       background-repeat:no-repeat;  background-image:url("../images/bgs.png");
    background-size:cover;
    background-position:right!important;
    }
  body  .sec-links .nav-link {
        padding: .5rem .0rem;
}
}
.sec-links .nav-item {
    border-radius: 0rem;
    border: none;
    background-color:#FFF0EC;}

.sec-links .nav-link {
    border-radius: 0rem;
    border: none;
    background-color: white;
    font-size: 14px;
    color: black!important;
    margin: 0px 5px;
    text-align: center;
    padding: .5rem .5rem;
}
  .sec-links .nav-link{
    color: black!important;
}
@media (min-width: 1200px)
{  .sec-links .col-xl-2 {
    padding: 0;
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 15.666667%;
    max-width: 15.666667%;
    margin: 0px 5px;
}
.sec-links{
    
    position: fixed;
    z-index: 99999;
}
}


.text{ font-family:italic-med!important;    
}
@media(min-width:1200px)
{.text{ 

    font-size: 18px;
 
 } 
 .btn-ser{
        margin-top: 5rem;}
    

.btn-ser-h{
    margin-top: 5rem;
}
 .services .cardser{
    height: 520px;
    position: relative;
    margin-top:3rem;
}

    .s-h{display:none;
        position: absolute;
        top:0px;
        left: 0px;
        width: 100%;
         height: 100%;}

         .fade-s{ position: absolute;
            top:0px;
            left: 0px;
            width: 100%;
             height: 100%;
    }
}


.fade-s{
   
   background-size:cover;
      background-repeat: no-repeat;
    background-position:center;

}
.s-h{display:none;
   
    background-blend-mode: overlay;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #f38b71f5;
    background-position: center;

}
.s1,.s1-h {
       background-repeat:no-repeat;  background-image:url("../images/ser1.png");
   
}



.s2,.s2-h {
       background-repeat:no-repeat;  background-image:url("../images/ser2.png");
  
}

.s3,.s3-h {
       background-repeat:no-repeat;  background-image:url("../images/ser3.png");
 
}


.s4,.s4-h {
       background-repeat:no-repeat;  background-image:url("../images/ser4.png");
 
}


.s5,.s5-h{
       background-repeat:no-repeat;  background-image:url("../images/ser5.png");

}
 
.s6,.s6-h {
       background-repeat:no-repeat;  background-image:url("../images/ser6.png");

}


.btn-ser-h{
 
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: .7rem 1rem;
    border-radius: 0;
    font-weight: 500;  
}


.btn-ser-h:hover{
    color: #F38B71;
    background-color: white;
    border: 2px solid white;
    padding: .7rem 1rem;
    border-radius: 0;
    font-weight: 500;  
}
.btn-ser{
 
    color: black;
    background-color: transparent;
    border: 2px solid black;
    padding: .7rem 1rem;
    border-radius: 0;
    font-weight: 500;  
}


.btn-ser:hover{
    color: white;
    background-color: black;
    border: 2px solid black;
    padding: .7rem 1rem;
    border-radius: 0;
    font-weight: 500;  
}
.btn-ser-g{
 
    color: #00B806;
    background-color: transparent;
    border: 2px solid  #00B806;
    padding: .7rem 1rem;
    border-radius: 0;
    font-weight: 500;  
}


.btn-ser-g:hover{
    color: white;
    background-color:#00B806;
    border: 2px solid #00B806;
   
}
